
.headerSection{
    /* width: 1920px; */
    width: 100%;
    height: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/header/coffee_image.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
header{
    /* width: 1920px; */
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 130px;
    width: 230px;
    height: 40px;
    background-image: url("../img/Logo.svg");
}

.baseList, .addList{
    width: 164px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.baseList li, .addList li{
    color: white;
    font-size: 13px;
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
}

.lists{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 200px;
}

.userAction{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout, .signin, .signup{
    width: 80px;
    color: burlywood;
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
}


.rightPart{
    width:690px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 130px;
}
.signin{
    padding-right: 30px;
}

a{
    color: white;
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    cursor: pointer;
}