* {
    padding: 0;
    margin: 0;
}

body {
    background-color: gray;
}

.overlay {
    width: 100%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    background-image: url("../img/header/overlay.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.header_textBlock {
    width: 743px;
    height: 611px;
    color: white;

    margin-left: 130px;
    margin-top: 100px;
}

.header_textBlock .header_title {
    font-size: 34px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.header_textBlock .header_coffeeTitle {
    font-size: 248px;
    font-family: 'Clicker Script', cursive;

}


.header_textBlock .header_subTitle {
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header_btn {
    width: 190px;
    height: 60px;
    border-radius: 13px;
    background-color: #F9C06A;
    border: none;
    font-size: 20px;
    font-weight: 700;

    margin-top: 70px;

    cursor: pointer;
}

.first {
    width: 100%;
    height: 800px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-title {
    position: relative;
    
    font-size: 120px;
    padding-top: 100px;
    font-family: 'Rubik Mono One', monospace;
    color: #83888F;
    top:90px;
    z-index: 0;
}

.types{
    display: flex;
    width: 1865px;
    height: 543px;
    justify-content: space-between;
    z-index: 1;
}

.type{
    width: 428px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img{
    width: 428px;
    height: 324px;
}
.img:hover{
    scale: calc(1.1);
    transition: 0.07s;
}
.imgFirst{
    background-image: url("../img/home/first/1.png");
}
.imgSecond{
    background-image: url("../img/home/first/2.png");
}
.imgThird{
    background-image: url("../img/home/first/3.png");
}
.imgFourth{
    background-image: url("../img/home/first/4.png");
}

.type-title{
    font-size: 24px;
    font-family: 'Barlow', sans-serif;
    color: #333D4B;
    text-align: center;
}

.type-subtitle{
    width: 300px;
    padding-top: 20px;
    font-size: 14px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    color: #333D4B;
}

.second{
    height: 1200px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-block{
    width: 1746px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-back{
    height: 787px;
    width: 100%;
    background-color: #2C343E;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-title{
    font-size: 40px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    color: white;
    padding-top: 165px;
}

.second-subtitle{
    font-size: 16px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding-top: 32px;
    width: 550px;
    font-weight: 100;
}

.second-infoblocks{
    width: 1514px;
    height: 520px;

    display: flex;
    justify-content: space-between;
    position: relative;
    top: -300px;
}

.info-block{
    width: 477.42px;
    background-color: #0E8784;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-img{
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    margin-top: 100px;
}
.second-img1{
    background-image: url("../img/home/second/coffee-bean.svg");

}
.second-img2{
    background-image: url("../img/home/second/present.svg");

}
.second-img3{
    background-size:auto;
    background-image: url("../img/home/second/car.svg");

}
.info-block-title{
    text-align: center;
    font-family: 'Barlow', sans-serif;
    color: #FDD6BA;
    padding-top: 110px;
    font-size: 30px;
}

.info-block-subtitle{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FDD6BA;
    padding-top: 20px;
    font-size: 16px;
    width: 320px;
}

.catalogBtn{
    width: 300px;
    height: 80px;
    background-color: #F9C06A;
    border: none;
    border-radius: 6px;

    font-size: 20px;
    font-family: 'Barlow', sans-serif;

    color: #196b69;
    cursor: pointer;

    margin-top: -240px;
}