form, .blockData{
    background-color: bisque;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 10px;
    border: 2px solid brown;
}
input,select, button{
    margin: 5px;
}

